name: Run tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r requirements.dev.txt
        
        ls /opt/hostedtoolcache/Python/3.6.12/x64/lib/python3.6/importlib
    - name: Run tests
      run: python3 -m pytest
      env:
        NGROK_TOKEN: ${{secrets.NGROK_TOKEN}} 
